<html>
    <head>
        <title>Country Weather App</title>
        <style>
            body{
                background-color: black;
                color: chocolate;
                font-family: 'Times New Roman', Times, serif;
            }
        </style>
    </head>
    <body>
        <h1>Country Weather App</h1>
        <p>Search for a country to get weather info</p>
        <form action="/search" method="post">
            <input type="text" name="country" placeholder="Enter country name">
            <button type="submit">Search</button>
        </form>
        
    </body>
</html>
